<h1>検索</h1>
<%= form_tag("/medals/show", method: :get) do %>
  <input name="uname" value="<%= @uname %>">
  <div>
  <input type="submit">
  </div>
<% end %>
<div class="contents-boxs">
<% @medals.each do |medal| %>
<div class="contents-box">
  <h2>メダル<%= medal[:tokenId] %></h2>
  <div class="medal">
    <div class="medal-mold">
    <img alt="medal-img" class="medal-img" src=<%= medal[:image] %>>
    </div>
  </div>
  <div class="medal-descript">
    <p>所有者：<%= medal[:minter_name] %></p>
    <p>発行者アドレス：<%= medal[:minter_address] %><p>
    <button><%= link_to "交換できるメダル一覧", "/medals/list" %></button>
  </div>
</div>
<% end %>
</div>