<!DOCTYPE html>
<html>
  <head>
    <title>NftDapps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1>多摩メダルアプリ</h1>
      <ul>
        <li id=<%= request.fullpath == "/medals" ? "active" : "inactive" %>>
          <%= link_to "ホーム", "/medals" %>
        </li>
        <li id=<%= request.fullpath != "/medals" ? "active" : "inactive" %>>
          <%= link_to "Myメダル", "/medals/show" %>
        </li>
      </ul>
    </header>

    <%= yield %>

    <footer></footer>
    <script>
    </script>
  </body>
</html>
